
    *{
        margin: 0;
        padding: 0;
    }

    body{
        background-color: transparent;
        overflow: hidden;
        background-color: black;
    }

    header {
        text-align: center;
    }




    .box1 {
        /* border: 1px solid red; */
        display: inline-block;
        margin-left: -52px;
    }

    .box2 {
        vertical-align: top;
        /* border: 1px solid lime; */
        display: inline-block;
        margin-left: -57px;
        margin-top: -100px;
        margin-right: -2px;
    }

    .grid-cont {
        display: inline-block;
    }

    .grid-container {
        position: absolute;
        display: grid;
        margin-top: -13px;
        display: inline-block;
    }

    /* .grid-container2 {
        position: absolute;
        left: 150px;
        display: grid;
        margin-top: 75px;
    }

    .grid-container3 {
        position: absolute;
        left: 300px;
        display: grid;
        margin-top: -13px;
    }

    .grid-container4 {
        position: absolute;
        left: 450px;
        display: grid;
        margin-top: 75px;
    } */

    .grid-container-odd {
        display: grid;
        z-index: -2;
    }

    .grid-item {
        /* outline: 1px solid red; */
        height: 174px;
    }

    .grid-item svg {
        stroke: red;
        stroke-width: 0;
    }

    /* .grid-container2 .grid-item svg, .grid-container4 .grid-item svg {
        fill: cyan;
    } */

    .grid-item svg:hover {
        fill: white;
        stroke: black;
        stroke-width: 1px;
    }

    .corner-bottom-left {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 25px;
        bottom: 25px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
    }
    .corner-bottom-right {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 25px;
        bottom: 25px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }
    .corner-top-left {
        width: 100px;
        height: 100px;
        position: absolute;
        left: 25px;
        top: 25px;
        border-left: 2px solid white;
        border-top: 2px solid white;
    }
    .corner-top-right {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 25px;
        top: 25px;
        border-right: 2px solid white;
        border-top: 2px solid white;
    }

    .navbar {
        text-align: center;
        width: 100%;
        /* position: absolute; */
        /* top: 180px;
        left: 45%; */
    }

    .navbar a {
        color: white;
        text-decoration: none;
    }

    /* Navlinks */

    .media-links {
        position: absolute;
        top: 45%;
        left: 0;
        z-index: 210;
    }
    
    .media-links span {
        margin-left: 10px;
    }
    
    .media-links ul {
        font-size: 24px;
        color: white;
        list-style-type: none;
    }
    
    .media-links ul a {
        text-decoration: none;
        color: white;
    }
    
    .media-links ul i {
        font-size: 30px;
        list-style-type: none;
        margin-top: 15px;
    }
    
    .media-links i:hover {
        /* color: rgb(6,170,226); */
        list-style-type: none;
        /* padding-left: 10px; */
        /* border-left: 2px solid rgb(6,170,226); */
    }
    
    .media-links li:before {
        content: "▹";
        /* content: "\25B9"; */
        position: absolute;
        left: -18px;
        color: red;
        line-height: 25px;
    }



    .container {
        position: absolute;
        z-index: 1;
        width: 150vw;
        height: 100vh;
        top: -100px;
        left: -175px;
    }

    .container2 {
        position: absolute;
        z-index: 2;
        width: 150vw;
        height: 100vh;
        left: -27px;
        top: -12px;
    }

    .glitch {
        position: relative;
        top: 40%;
        margin: 0 auto;
        color: white;
        font-size: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    .glitch:before, .glitch:after {
        content: 'ALEXANDER EGE';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        background-color: transparent;
    }

    .glitch:before {
        left: 8px;
        text-shadow: 4px 0 #0ffbf9;
        animation: effect 5s infinite linear;
    }
    .glitch:after {
        left: 4px;
        text-shadow: -4px 0 #f14492;
        animation: effect 3s infinite linear;
    }

    @-webkit-keyframes effect {
        0% {
            clip: rect(55px, 9999px, 56px, 0);
        }
        5% {
            clip: rect(47px, 9999px, 30px, 0);
        }
        10% {
            clip: rect(33px, 9999px, 36px, 0);
        }
        15% {
            clip: rect(35px, 9999px, 9px, 0);
        }
        20% {
            clip: rect(63px, 9999px, 59px, 0);
        }
        25% {
            clip: rect(96px, 9999px, 98px, 0);
        }
        30% {
            clip: rect(48px, 9999px, 77px, 0);
        }
        35% {
            clip: rect(50px, 9999px, 34px, 0);
        }
        40% {
            clip: rect(60px, 9999px, 72px, 0);
        }
        45% {
            clip: rect(10px, 9999px, 81px, 0);
        }
        50% {
            clip: rect(2px, 9999px, 60px, 0);
        }
        55% {
            clip: rect(23px, 9999px, 89px, 0);
        }
        60% {
            clip: rect(76px, 9999px, 91px, 0);
        }
        65% {
            clip: rect(62px, 9999px, 30px, 0);
        }
        70% {
            clip: rect(60px, 9999px, 73px, 0);
        }
        75% {
            clip: rect(60px, 9999px, 87px, 0);
        }
        80% {
            clip: rect(2px, 9999px, 14px, 0);
        }
        85% {
            clip: rect(73px, 9999px, 50px, 0);
        }
        90% {
            clip: rect(79px, 9999px, 70px, 0);
        }
        95% {
            clip: rect(79px, 9999px, 70px, 0);
        }
        100% {
            clip: rect(17px, 9999px, 79px, 0);
        }
    }

#main_content {
    border: 1px solid white; 
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    background-color: transparent;
    color: white;
}

/* About Me */
.aboutme-container {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.aboutme-container h2 {
    text-align: center;
    color: white;
}

#about-paragraph {
    margin: 0 auto;
    overflow: hidden;
    max-width: 600px;
}

/* Projects */
.project-container {
    /* text-align: center; */
    /* width: 1000px; */
    margin: 10px;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

.project-container h2 {
    text-align: center;
    color: white;
}

.project-container ul li:before {
    content: "\2022";
    color: rgb(100, 255, 218);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.project-title {
    color: #06aae2;
    font-weight: bold;
}


.project-box {
    background-color: rgb(6,174,226, 0.75);
    /* border: 2px solid rgb(100, 255, 218); */
    height: 300px;
    /* display: inline-block; */
}


.block {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
}

/* .block:hover {
    background-color: black;
} */

.black {
    background-color: black;
}






    /* Hex things */

    .hexagon {
        /* opacity: 0; */
        /* fill: rgb(100, 255, 218); */
        fill: rgb(6,174,226);
        stroke:black;
        stroke-width: 2;
        /* stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 5s linear forwards; */
    }
      
      /* @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      } */

    .hexagon:hover {
        animation-name: fade;
        animation-duration: 5s;
    }

    @-webkit-keyframes fade {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    svg:hover {
        fill: white;
    }

/* Ring 1 */
    .hex1 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px);
        top: calc(50vh - 87.5px);
    }

/* Ring 2 */
    .hex2 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px);
        top: calc(50vh - 87.5px - 175px);
    }
    .hex3 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px + 150px);
        top: calc(50vh - 87.5px - 87.5px);
    }
    .hex4 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px + 150px);
        top: calc(50vh);
    }
    .hex5 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px);
        top: calc(50vh + 87.5px);
    }
    .hex6 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px - 150px);
        top: calc(50vh);
    }
    .hex7 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px - 150px);
        top: calc(50vh - 175px);
    }

/* Ring 3 */
    .hex8 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px);
        top: calc(50vh - 87.5px - 350px);
    }
    .hex9 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px);
        top: calc(50vh - 87.5px - 262.5px);
    }
    .hex10 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px + 150px);
        top: calc(50vh - 87.5px - 175px);
    }
    .hex11 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px + 150px);
        top: calc(50vh - 87.5px);
    }
    .hex12 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px + 150px);
        top: calc(50vh - 87.5px + 175px);
    }
    .hex13 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px);
        top: calc(50vh - 87.5px + 262.5px);
    }
    .hex14 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px);
        top: calc(50vh - 87.5px + 350px);
    }
    .hex15 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px - 150px);
        top: calc(50vh + 87.5px + 87.5px);
    }
    .hex16 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px - 300px);
        top: calc(50vh + 87.5px);
    }
    .hex17 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px - 300px);
        top: calc(50vh - 87.5px);
    }
    .hex18 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px - 300px);
        top: calc(50vh - 87.5px - 175px);
    }
    .hex19 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px - 150px);
        top: calc(50vh - 87.5px - 262.5px);
    }
/* Ring 4 */
    .hex20 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px);
        top: calc(50vh - 87.5px - 437.5px);
    }
    .hex21 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px + 150px);
        top: calc(50vh - 87.5px - 350px);
    }
    .hex22 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px + 300px);
        top: calc(50vh - 87.5px - 262.5px);
    }
    .hex23 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px + 300px);
        top: calc(50vh - 87.5px - 87.5px);
    }
    .hex24 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px + 300px);
        top: calc(50vh);
    }
    .hex25 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px + 300px);
        top: calc(50vh + 175px);
    }
    .hex26 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px + 150px);
        top: calc(50vh + 262.5px);
    }
    .hex27 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px);
        top: calc(50vh + 350px);
    }
    .hex28 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px);
        top: calc(50vh + 350px);
    }
    .hex29 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px);
        top: calc(50vh + 437.5px);
    }
    .hex30 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 250px);
        top: calc(50vh + 350px);
    }
    .hex31 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 400px);
        top: calc(50vh + 262.5px);
    }
    .hex32 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 550px);
        top: calc(50vh + 175px);
    }
    .hex33 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 550px);
        top: calc(50vh);
    }
    .hex34 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 550px);
        top: calc(50vh - 175px);
    }
    .hex35 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 550px);
        top: calc(50vh - 350px);
    }
    .hex36 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 400px);
        top: calc(50vh - 437.5px);
    }
    .hex37 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px - 150px);
        top: calc(50vh - 87.5px - 437.5px);
    }
    .hex38 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px);
        top: calc(50vh - 87.5px - 525px);
    }

    /* Row 5 */

    .hex39 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px);
        top: calc(50vh - 787.5px);
    }
    .hex40 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px);
        top: calc(50vh - 700px);
    }
    .hex41 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 200px);
        top: calc(50vh - 612.5px);
    }
    .hex42 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 350px);
        top: calc(50vh - 525px);
    }
    .hex43 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 500px);
        top: calc(50vh - 437.5px);
    }
    .hex44 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 500px);
        top: calc(50vh - 262.5px);
    }
    .hex45 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 500px);
        top: calc(50vh - 87.5px);
    }
    .hex46 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 500px);
        top: calc(50vh + 87.5px);
    }
    .hex47 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 500px);
        top: calc(50vh + 262.5px);
    }
    .hex48 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 350px);
        top: calc(50vh + 350px);
    }
    .hex49 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 200px);
        top: calc(50vh + 437.5px);
    }
    .hex50 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 50px);
        top: calc(50vh + 525px);
    }
    .hex51 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 100px);
        top: calc(50vh + 612.5px);
    }
    .hex52 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 250px);
        top: calc(50vh + 525px);
    }
    .hex53 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 400px);
        top: calc(50vh + 437.5px);
    }
    .hex54 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 550px);
        top: calc(50vh + 350px);
    }
    .hex55 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 700px);
        top: calc(50vh + 262.5px);
    }
    .hex56 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 700px);
        top: calc(50vh + 87.5px);
    }
    .hex57 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 700px);
        top: calc(50vh - 87.5px);
    }
    .hex58 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 700px);
        top: calc(50vh - 262.5px);
    }
    .hex59 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 700px);
        top: calc(50vh - 437.5px);
    }
    .hex60 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 550px);
        top: calc(50vh - 525px);
    }
    .hex61 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 400px);
        top: calc(50vh - 612.5px);
    }
    .hex62 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 250px);
        top: calc(50vh - 700px);
    }
    .hex63 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 250px);
        top: calc(50vh - 700px);
    }

    /* Row 6 */

    .hex64 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 200px);
        top: calc(50vh - 787.5px);
    }
    .hex65 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 350px);
        top: calc(50vh - 700px);
    }
    .hex66 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 500px);
        top: calc(50vh - 612.5px);
    }
    .hex67 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 650px);
        top: calc(50vh - 525px);
    }
    .hex68 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 650px);
        top: calc(50vh - 350px);
    }
    .hex69 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 650px);
        top: calc(50vh - 175px);
    }
    .hex70 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 650px);
        top: calc(50vh);
    }
    .hex71 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 650px);
        top: calc(50vh + 175px);
    }
    .hex72 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 650px);
        top: calc(50vh + 350px);
    }
    .hex73 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 500px);
        top: calc(50vh + 437.5px);
    }
    .hex74 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 350px);
        top: calc(50vh + 525px);
    }
    .hex75 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 200px);
        top: calc(50vh + 612.5px);
    }
    .hex76 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 400px);
        top: calc(50vh + 612.5px);
    }
    .hex77 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 550px);
        top: calc(50vh + 525px);
    }
    .hex78 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 700px);
        top: calc(50vh + 437.5px);
    }
    .hex79 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 850px);
        top: calc(50vh + 350px);
    }
    .hex80 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 850px);
        top: calc(50vh + 175px);
    }
    .hex81 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 850px);
        top: calc(50vh);
    }
    .hex82 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 850px);
        top: calc(50vh - 175px);
    }
    .hex83 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 850px);
        top: calc(50vh - 350px);
    }
    .hex84 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 850px);
        top: calc(50vh - 525px);
    }
    .hex85 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 700px);
        top: calc(50vh - 612.5px);
    }
    .hex86 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 550px);
        top: calc(50vh - 700px);
    }
    .hex87 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 400px);
        top: calc(50vh - 787.5px);
    }

/* Row 7 */

    .hex88 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 800px);
        top: calc(50vh - 612.5px);
    }
    .hex89 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 800px);
        top: calc(50vh - 437.5px);
    }
    .hex90 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 800px);
        top: calc(50vh - 262.5px);
    }
    .hex91 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 800px);
        top: calc(50vh - 87.5px);
    }
    .hex92 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 800px);
        top: calc(50vh + 87.5px);
    }
    .hex93 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 800px);
        top: calc(50vh + 262.5px);
    }
    .hex94 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 800px);
        top: calc(50vh + 437.5px);
    }

    /* Row 7 */
    
    .hex95 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1000px);
        top: calc(50vh + 437.5px);
    }
    .hex96 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1000px);
        top: calc(50vh + 262.5px);
    }
    .hex97 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1000px);
        top: calc(50vh + 87.5px);
    }
    .hex98 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1000px);
        top: calc(50vh - 87.5px);
    }
    .hex99 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1000px);
        top: calc(50vh - 262.5px);
    }
    .hex100 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1000px);
        top: calc(50vh - 437.5px);
    }
    .hex101 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1000px);
        top: calc(50vh - 612.5px);
    }

/* Row 8 */

    .hex102 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 950px);
        top: calc(50vh - 525px);
    }
    .hex103 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 950px);
        top: calc(50vh - 350px);
    }
    .hex104 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 950px);
        top: calc(50vh - 175px);
    }
    .hex105 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 950px);
        top: calc(50vh );
    }
    .hex106 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 950px);
        top: calc(50vh + 175px);
    }
    .hex107 {
        position: absolute;
        z-index: -1;
        left: calc(50% + 950px);
        top: calc(50vh + 350px);
    }

/* Row 8 */

    .hex108 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1150px);
        top: calc(50vh - 525px);
    }

    .hex109 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1150px);
        top: calc(50vh - 350px);
    }

    .hex110 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1150px);
        top: calc(50vh - 175px);
    }

    .hex111 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1150px);
        top: calc(50vh);
    }

    .hex112 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1150px);
        top: calc(50vh + 175px);
    }

    .hex113 {
        position: absolute;
        z-index: -1;
        left: calc(50% - 1150px);
        top: calc(50vh + 350px);
    }